@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container-sidebar {
  position:absolute;
  align-items: center;
  top: 80px;
  left: 240px;
  padding-left: 20px;
  bottom: 20px;
  right: 20px;
  border-left: rgba(0, 0, 0, 0.12) solid 1px;
}

.main-container {
  position:absolute;
  align-items: center;
  top: 80px;
  left: 20px;
  bottom: 20px;
  right: 20px;
}