@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  border-bottom: 1px solid gray;
}

.main-container-sidebar {
  position:absolute;
  align-items: center;
  top: 80px;
  left: 250px;
  bottom: 20px;
  right: 20px;
}

.main-container {
  position:absolute;
  align-items: center;
  top: 80px;
  left: 20px;
  bottom: 20px;
  right: 20px;
}