@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  border-bottom: 1px solid gray;
}

.main-container {
  position:absolute;
  width: 1000px;
  height: fit-content;
  align-items: center;
  top: 57px;
  left: 225px;
}